In [1]:
import sys
sys.path.append('../../scripts')
import utils as util
import stock_indicators as stock_indicators
import text_analyzer as text_analyzer
import plot as plot

In [2]:
data = util.load_stock_data('../../data/yfinance_data/AAPL_historical_data.csv')

In [3]:
util.explore_data(data)

Shape of the data: (10998, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10998 entries, 0 to 10997
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ticker        10998 non-null  object
 1   Date          10998 non-null  object
 2   Open          10998 non-null  float64
 3   High          10998 non-null  float64
 4   Low           10998 non-null  float64
 5   Close         10998 non-null  float64
 6   Adj Close     10998 non-null  float64
 7   Volume        10998 non-null  int64
 8   Dividends     10998 non-null  float64
 9   Stock Splits  10998 non-null  float64
dtypes: float64(7), int64(1), object(2)
memory usage: 859.3+ KB
Info of the data: None

In [4]:
data = data[['Ticker', 'Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']].copy()
data.head()

,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,AAPL,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600
1,AAPL,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800
2,AAPL,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000
3,AAPL,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600
4,AAPL,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600

In [5]:
data.columns = data.columns.str.lower()
data.head()

,ticker,date,open,high,low,close,adj close,volume
0,AAPL,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600
1,AAPL,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800
2,AAPL,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000
3,AAPL,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600
4,AAPL,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600

In [6]:
util.index_by_date(data)
data.head()

,ticker,open,high,low,close,adj close,volume
date,,,,,,,
1980-12-12,AAPL,0.128348,0.128906,0.128348,0.128348,0.098943,469033600
1980-12-15,AAPL,0.122210,0.122210,0.121652,0.121652,0.093781,175884800
1980-12-16,AAPL,0.113281,0.113281,0.112723,0.112723,0.086898,105728000
1980-12-17,AAPL,0.115513,0.116071,0.115513,0.115513,0.089049,86441600
1980-12-18,AAPL,0.118862,0.119420,0.118862,0.118862,0.091630,73449600

In [7]:
stock_indicators.calculate_technical_indicators(data)
data.tail(5)

,ticker,open,high,low,close,adj close,volume,SMA,EMA,RSI
date,,,,,,,,,,
2024-07-24,AAPL,224.000000,224.800003,217.130005,218.539993,218.287323,61777600,208.474199,210.656039,57.741856
2024-07-25,AAPL,218.929993,220.850006,214.619995,217.490005,217.238556,51391200,209.098399,210.924038,57.244636
2024-07-26,AAPL,218.699997,219.490005,216.009995,217.960007,217.708008,41601300,209.709000,211.199958,57.412142
2024-07-29,AAPL,216.960007,219.300003,215.750000,218.240005,217.987686,36311800,210.279400,211.476039,57.513330
2024-07-30,AAPL,219.190002,220.330002,216.119995,218.800003,218.547043,41643800,210.858600,211.763253,57.718349

In [8]:
#stock_indicators.calculate_financial_metrics(data)

In [9]:
#plots

In [10]:
headline_data = util.load_data('../../data/prepared_data.csv')

### Correlation Analysis

In [11]:
headline_data = util.filter_data_by_stock(headline_data, 'AAPL')
util.convert_date_dtype(headline_data)
headline_data.head(5)

,Unnamed: 0,headline,url,publisher,date,stock
6680,7120,Tech Stocks And FAANGS Strong Again To Start D...,https://www.benzinga.com/government/20/06/1622...,JJ Kinahan,2020-06-10 11:33:26-04:00,AAPL
6681,7121,10 Biggest Price Target Changes For Wednesday,https://www.benzinga.com/analyst-ratings/price...,Lisa Levin,2020-06-10 08:14:08-04:00,AAPL
6682,7122,"Benzinga Pro's Top 5 Stocks To Watch For Wed.,...",https://www.benzinga.com/short-sellers/20/06/1...,Benzinga Newsdesk,2020-06-10 07:53:47-04:00,AAPL
6683,7123,"Deutsche Bank Maintains Buy on Apple, Raises P...",https://www.benzinga.com/news/20/06/16219873/d...,Benzinga Newsdesk,2020-06-10 07:19:25-04:00,AAPL
6684,7124,Apple To Let Users Trade In Their Mac Computer...,https://www.benzinga.com/news/20/06/16218697/a...,Neer Varshney,2020-06-10 06:27:11-04:00,AAPL

In [12]:
headline_with_sentiment = text_analyzer.analyze_headline_sentiment(headline_data)
headline_with_sentiment['date'] = headline_with_sentiment ['date'].dt.date

headlines_with_sentiment= headline_with_sentiment[['date', 'headline', 'sentiment_score', 'sentiment']].copy()

In [13]:
combined_data = headlines_with_sentiment.set_index('date').join(data['close'])
combined_data.head()

,headline,sentiment_score,sentiment,close
date,,,,
2020-06-10,Tech Stocks And FAANGS Strong Again To Start D...,0.5574,positive,88.209999
2020-06-10,10 Biggest Price Target Changes For Wednesday,0.0000,neutral,88.209999
2020-06-10,"Benzinga Pro's Top 5 Stocks To Watch For Wed.,...",0.2023,positive,88.209999
2020-06-10,"Deutsche Bank Maintains Buy on Apple, Raises P...",0.0000,neutral,88.209999
2020-06-10,Apple To Let Users Trade In Their Mac Computer...,0.3818,positive,88.209999

In [14]:
#stock_indicators.calculate_daily_returns(combined_data)
combined_data['daily_returns'] = combined_data['close'].pct_change()
combined_data.tail(5)

/var/folders/cm/vngd5r7d2x16wjb2nxg9h5mc0000gn/T/ipykernel_67049/3937831859.py:2: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  combined_data['daily_returns'] = combined_data['close'].pct_change()

,headline,sentiment_score,sentiment,close,daily_returns
date,,,,,
2020-03-10,"UBS Maintains Buy on Apple, Lowers Price Targe...",-0.1280,negative,71.334999,0.000000
2020-03-10,123 Biggest Movers From Yesterday,0.0000,neutral,71.334999,0.000000
2020-03-09,Crude Awakening: Energy Sector Takes A 20% Spi...,-0.9062,negative,66.542503,-0.067183
2020-03-09,Investor Movement Index Summary: February 2020,0.0000,neutral,66.542503,0.000000
2020-03-09,101 Stocks Moving In Monday's Mid-Day Session,0.0000,neutral,66.542503,0.000000

In [16]:
corr_daily_returns = combined_data['sentiment_score'].corr(combined_data['daily_returns'])
print('Correlation between Sentiment Score and Daily Returns is', corr_daily_returns)

Correlation between Sentiment Score and Daily Returns is 0.06245786973736566

In [18]:
corr_daily_close = combined_data['sentiment_score'].corr(combined_data['close'])
print('Correlation between Sentiment Score and Closing is', corr_daily_close)

Correlation between Sentiment Score and Closing is 0.03018925360832993