In [1]:
import sys
sys.path.append('../../scripts')
import utils as util
import stock_indicators as stock_indicators
import text_analyzer as text_analyzer
import plot as plot

In [2]:
data = util.load_stock_data('../../data/yfinance_data/AMZN_historical_data.csv')

In [3]:
util.explore_data(data)

Shape of the data: (6846, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6846 entries, 0 to 6845
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ticker        6846 non-null   object
 1   Date          6846 non-null   object
 2   Open          6846 non-null   float64
 3   High          6846 non-null   float64
 4   Low           6846 non-null   float64
 5   Close         6846 non-null   float64
 6   Adj Close     6846 non-null   float64
 7   Volume        6846 non-null   int64
 8   Dividends     6846 non-null   float64
 9   Stock Splits  6846 non-null   float64
dtypes: float64(7), int64(1), object(2)
memory usage: 535.0+ KB
Info of the data: None

In [4]:
data = data[['Ticker', 'Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']].copy()
data.head()

,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,AMZN,1997-05-15,0.121875,0.125000,0.096354,0.097917,0.097917,1443120000
1,AMZN,1997-05-16,0.098438,0.098958,0.085417,0.086458,0.086458,294000000
2,AMZN,1997-05-19,0.088021,0.088542,0.081250,0.085417,0.085417,122136000
3,AMZN,1997-05-20,0.086458,0.087500,0.081771,0.081771,0.081771,109344000
4,AMZN,1997-05-21,0.081771,0.082292,0.068750,0.071354,0.071354,377064000

In [5]:
data.columns = data.columns.str.lower()
data.head()

,ticker,date,open,high,low,close,adj close,volume
0,AMZN,1997-05-15,0.121875,0.125000,0.096354,0.097917,0.097917,1443120000
1,AMZN,1997-05-16,0.098438,0.098958,0.085417,0.086458,0.086458,294000000
2,AMZN,1997-05-19,0.088021,0.088542,0.081250,0.085417,0.085417,122136000
3,AMZN,1997-05-20,0.086458,0.087500,0.081771,0.081771,0.081771,109344000
4,AMZN,1997-05-21,0.081771,0.082292,0.068750,0.071354,0.071354,377064000

In [6]:
util.index_by_date(data)
data.head()

,ticker,open,high,low,close,adj close,volume
date,,,,,,,
1997-05-15,AMZN,0.121875,0.125000,0.096354,0.097917,0.097917,1443120000
1997-05-16,AMZN,0.098438,0.098958,0.085417,0.086458,0.086458,294000000
1997-05-19,AMZN,0.088021,0.088542,0.081250,0.085417,0.085417,122136000
1997-05-20,AMZN,0.086458,0.087500,0.081771,0.081771,0.081771,109344000
1997-05-21,AMZN,0.081771,0.082292,0.068750,0.071354,0.071354,377064000

In [7]:
stock_indicators.calculate_technical_indicators(data)
data.tail(5)

,ticker,open,high,low,close,adj close,volume,SMA,EMA,RSI
date,,,,,,,,,,
2024-07-24,AMZN,183.199997,185.449997,180.410004,180.830002,180.830002,41532400,187.364001,187.573503,49.470088
2024-07-25,AMZN,182.910004,183.899994,176.800003,179.850006,179.850006,44464200,187.229601,187.270621,49.016879
2024-07-26,AMZN,180.389999,183.190002,180.240005,182.500000,182.500000,29506000,187.138200,187.083538,50.273880
2024-07-29,AMZN,183.839996,184.750000,182.380005,183.199997,183.199997,33270100,187.082400,186.931242,50.602159
2024-07-30,AMZN,184.720001,185.860001,179.380005,181.710007,181.710007,39508600,187.044000,186.726488,49.886831

In [8]:
#stock_indicators.calculate_financial_metrics(data)

In [9]:
#plots

In [10]:
headline_data = util.load_data('../../data/prepared_data.csv')

### Correlation Analysis

In [11]:
headline_data = util.filter_data_by_stock(headline_data, 'AMZN')
util.convert_date_dtype(headline_data)
headline_data.head(5)

,Unnamed: 0,headline,url,publisher,date,stock
76177,76869,How Cannabis Company Cannaphyll Is Marketing O...,https://www.benzinga.com/markets/cannabis/20/0...,Jaycee Tenn,2020-06-10 13:18:50-04:00,AMZN
76178,76870,Tech Stocks And FAANGS Strong Again To Start D...,https://www.benzinga.com/government/20/06/1622...,JJ Kinahan,2020-06-10 11:33:26-04:00,AMZN
76179,76871,"Benzinga Pro's Top 5 Stocks To Watch For Wed.,...",https://www.benzinga.com/short-sellers/20/06/1...,Benzinga Newsdesk,2020-06-10 07:53:47-04:00,AMZN
76180,76872,"Hearing Vertical Group Out Positive On Amazon,...",https://www.benzinga.com/analyst-ratings/analy...,Benzinga Newsdesk,2020-06-10 07:20:03-04:00,AMZN
76181,76873,Big Tech Reaches New Record Heights At The Sto...,https://www.benzinga.com/news/20/06/16218615/b...,Neer Varshney,2020-06-10 00:52:01-04:00,AMZN

In [12]:
headline_with_sentiment = text_analyzer.analyze_headline_sentiment(headline_data)
headline_with_sentiment['date'] = headline_with_sentiment ['date'].dt.date

headlines_with_sentiment= headline_with_sentiment[['date', 'headline', 'sentiment_score', 'sentiment']].copy()

In [13]:
combined_data = headlines_with_sentiment.set_index('date').join(data['close'])
combined_data.head()

,headline,sentiment_score,sentiment,close
date,,,,
2020-06-10,How Cannabis Company Cannaphyll Is Marketing O...,0.1779,positive,132.372498
2020-06-10,Tech Stocks And FAANGS Strong Again To Start D...,0.5574,positive,132.372498
2020-06-10,"Benzinga Pro's Top 5 Stocks To Watch For Wed.,...",0.2023,positive,132.372498
2020-06-10,"Hearing Vertical Group Out Positive On Amazon,...",0.6486,positive,132.372498
2020-06-10,Big Tech Reaches New Record Heights At The Sto...,0.0516,positive,132.372498

In [14]:
#stock_indicators.calculate_daily_returns(combined_data)
combined_data['daily_returns'] = combined_data['close'].pct_change()
combined_data.tail(5)

/var/folders/cm/vngd5r7d2x16wjb2nxg9h5mc0000gn/T/ipykernel_67434/3937831859.py:2: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  combined_data['daily_returns'] = combined_data['close'].pct_change()

,headline,sentiment_score,sentiment,close,daily_returns
date,,,,,
2020-04-27,3 Sector ETFs For This Week's Earnings Parade,0.0000,neutral,118.800003,0.0
2020-04-27,Amazon Statement Shows Co. Extends Closure Of ...,0.2960,positive,118.800003,0.0
2020-04-27,Will COVID-19 Accelerate The Adoption Of Auton...,0.0000,neutral,118.800003,0.0
2020-04-27,SunTrust Robinson Humphrey Maintains Buy on Am...,0.0000,neutral,118.800003,0.0
2020-04-27,"Apple And Amazon Earnings, Fed Meeting Among H...",0.1779,positive,118.800003,0.0

In [15]:
corr_daily_returns = combined_data['sentiment_score'].corr(combined_data['daily_returns'])
print('Correlation between Sentiment Score and Daily Returns is', corr_daily_returns)

Correlation between Sentiment Score and Daily Returns is 0.03509761120464026

In [16]:
corr_daily_close = combined_data['sentiment_score'].corr(combined_data['close'])
print('Correlation between Sentiment Score and Closing is', corr_daily_close)

Correlation between Sentiment Score and Closing is 0.11077024911620813