In [1]:
import sys
sys.path.append('../../scripts')
import utils as util
import stock_indicators as stock_indicators
import text_analyzer as text_analyzer
import plot as plot

In [2]:
data = util.load_stock_data('../../data/yfinance_data/NVDA_historical_data.csv')

In [3]:
util.explore_data(data)

Shape of the data: (6421, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6421 entries, 0 to 6420
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ticker        6421 non-null   object
 1   Date          6421 non-null   object
 2   Open          6421 non-null   float64
 3   High          6421 non-null   float64
 4   Low           6421 non-null   float64
 5   Close         6421 non-null   float64
 6   Adj Close     6421 non-null   float64
 7   Volume        6421 non-null   int64
 8   Dividends     6421 non-null   float64
 9   Stock Splits  6421 non-null   float64
dtypes: float64(7), int64(1), object(2)
memory usage: 501.8+ KB
Info of the data: None

In [4]:
data = data[['Ticker', 'Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']].copy()
data.head()

,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,NVDA,1999-01-22,0.043750,0.048828,0.038802,0.041016,0.037621,2714688000
1,NVDA,1999-01-25,0.044271,0.045833,0.041016,0.045313,0.041562,510480000
2,NVDA,1999-01-26,0.045833,0.046745,0.041146,0.041797,0.038337,343200000
3,NVDA,1999-01-27,0.041927,0.042969,0.039583,0.041667,0.038218,244368000
4,NVDA,1999-01-28,0.041667,0.041927,0.041276,0.041536,0.038098,227520000

In [5]:
data.columns = data.columns.str.lower()
data.head()

,ticker,date,open,high,low,close,adj close,volume
0,NVDA,1999-01-22,0.043750,0.048828,0.038802,0.041016,0.037621,2714688000
1,NVDA,1999-01-25,0.044271,0.045833,0.041016,0.045313,0.041562,510480000
2,NVDA,1999-01-26,0.045833,0.046745,0.041146,0.041797,0.038337,343200000
3,NVDA,1999-01-27,0.041927,0.042969,0.039583,0.041667,0.038218,244368000
4,NVDA,1999-01-28,0.041667,0.041927,0.041276,0.041536,0.038098,227520000

In [6]:
util.index_by_date(data)
data.head()

,ticker,open,high,low,close,adj close,volume
date,,,,,,,
1999-01-22,NVDA,0.043750,0.048828,0.038802,0.041016,0.037621,2714688000
1999-01-25,NVDA,0.044271,0.045833,0.041016,0.045313,0.041562,510480000
1999-01-26,NVDA,0.045833,0.046745,0.041146,0.041797,0.038337,343200000
1999-01-27,NVDA,0.041927,0.042969,0.039583,0.041667,0.038218,244368000
1999-01-28,NVDA,0.041667,0.041927,0.041276,0.041536,0.038098,227520000

In [7]:
stock_indicators.calculate_technical_indicators(data)
data.tail(5)

,ticker,open,high,low,close,adj close,volume,SMA,EMA,RSI
date,,,,,,,,,,
2024-07-24,NVDA,119.169998,119.949997,113.440002,114.250000,114.250000,327776900,117.98118,116.821791,53.629925
2024-07-25,NVDA,113.040001,116.629997,106.300003,112.279999,112.279999,460067000,118.41880,116.643681,52.866852
2024-07-26,NVDA,116.190002,116.199997,111.580002,113.059998,113.059998,293399100,118.85288,116.503145,53.136252
2024-07-29,NVDA,113.690002,116.279999,111.300003,111.589996,111.589996,248152100,119.19208,116.310472,52.558539
2024-07-30,NVDA,111.519997,111.989998,102.540001,103.730003,103.730003,486833300,119.37950,115.817121,49.615367

In [8]:
#stock_indicators.calculate_financial_metrics(data)

In [9]:
#plots

In [10]:
headline_data = util.load_data('../../data/prepared_data.csv')

### Correlation Analysis

In [11]:
headline_data = util.filter_data_by_stock(headline_data, 'NVDA')
util.convert_date_dtype(headline_data)
headline_data.head(5)

,Unnamed: 0,headline,url,publisher,date,stock
924271,929039,Shares of several technology companies are tra...,https://www.benzinga.com/wiim/20/06/16224173/s...,Benzinga Newsdesk,2020-06-10 12:37:10-04:00,NVDA
924272,929040,Afternoon Market Stats in 5 Minutes,https://www.benzinga.com/markets/20/06/1622357...,Benzinga Insights,2020-06-10 12:12:25-04:00,NVDA
924273,929041,Morning Market Stats in 5 Minutes,https://www.benzinga.com/markets/20/06/1622174...,Benzinga Insights,2020-06-10 10:22:11-04:00,NVDA
924274,929042,Shares of several technology companies are tra...,https://www.benzinga.com/wiim/20/06/16214789/s...,Benzinga Newsdesk,2020-06-09 13:40:43-04:00,NVDA
924275,929043,Afternoon Market Stats in 5 Minutes,https://www.benzinga.com/markets/20/06/1620319...,Benzinga Insights,2020-06-08 12:30:29-04:00,NVDA

In [12]:
headline_with_sentiment = text_analyzer.analyze_headline_sentiment(headline_data)
headline_with_sentiment['date'] = headline_with_sentiment ['date'].dt.date

headlines_with_sentiment= headline_with_sentiment[['date', 'headline', 'sentiment_score', 'sentiment']].copy()

In [13]:
combined_data = headlines_with_sentiment.set_index('date').join(data['close'])
combined_data.head()

,headline,sentiment_score,sentiment,close
date,,,,
2020-06-10,Shares of several technology companies are tra...,0.7296,positive,9.36675
2020-06-10,Afternoon Market Stats in 5 Minutes,0.0000,neutral,9.36675
2020-06-10,Morning Market Stats in 5 Minutes,0.0000,neutral,9.36675
2020-06-09,Shares of several technology companies are tra...,0.7296,positive,9.04600
2020-06-08,Afternoon Market Stats in 5 Minutes,0.0000,neutral,8.80500

In [14]:
combined_data['daily_returns'] = combined_data['close'].pct_change()
combined_data.tail(5)

/var/folders/cm/vngd5r7d2x16wjb2nxg9h5mc0000gn/T/ipykernel_67785/1618931166.py:1: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  combined_data['daily_returns'] = combined_data['close'].pct_change()

,headline,sentiment_score,sentiment,close,daily_returns
date,,,,,
2011-03-08,J.P. Morgan Upgrades NVIDIA Corporation To Neu...,0.0000,neutral,0.48875,0.000000
2011-03-08,"JP Morgan Upgrades NVIDIA To Neutral, $21 PT",0.3680,positive,0.48875,0.000000
2011-03-07,Goldman Sachs Gives Color On Semiconductors (N...,0.0000,neutral,0.51175,0.047059
2011-03-07,Auriga Still Not Sure Where Reality Lies For N...,-0.5806,negative,0.51175,0.000000
2011-03-03,Nvidia Goes Negative (NVDA),-0.5719,negative,0.52175,0.019541

In [15]:
corr_daily_returns = combined_data['sentiment_score'].corr(combined_data['daily_returns'])
print('Correlation between Sentiment Score and Daily Returns is', corr_daily_returns)

Correlation between Sentiment Score and Daily Returns is -0.012904878466224916

In [16]:
corr_daily_close = combined_data['sentiment_score'].corr(combined_data['close'])
print('Correlation between Sentiment Score and Closing is', corr_daily_close)

Correlation between Sentiment Score and Closing is 0.03470551262504059