In [1]:
import sys
sys.path.append('../../scripts')
import utils as util
import stock_indicators as stock_indicators
import text_analyzer as text_analyzer
import plot as plot

In [2]:
data = util.load_stock_data('../../data/yfinance_data/TSLA_historical_data.csv')

In [3]:
util.explore_data(data)

Shape of the data: (3545, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3545 entries, 0 to 3544
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ticker        3545 non-null   object
 1   Date          3545 non-null   object
 2   Open          3545 non-null   float64
 3   High          3545 non-null   float64
 4   Low           3545 non-null   float64
 5   Close         3545 non-null   float64
 6   Adj Close     3545 non-null   float64
 7   Volume        3545 non-null   int64
 8   Dividends     3545 non-null   float64
 9   Stock Splits  3545 non-null   float64
dtypes: float64(7), int64(1), object(2)
memory usage: 277.1+ KB
Info of the data: None

In [4]:
data = data[['Ticker', 'Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']].copy()
data.head()

,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,TSLA,2010-06-29,1.266667,1.666667,1.169333,1.592667,1.592667,281494500
1,TSLA,2010-06-30,1.719333,2.028000,1.553333,1.588667,1.588667,257806500
2,TSLA,2010-07-01,1.666667,1.728000,1.351333,1.464000,1.464000,123282000
3,TSLA,2010-07-02,1.533333,1.540000,1.247333,1.280000,1.280000,77097000
4,TSLA,2010-07-06,1.333333,1.333333,1.055333,1.074000,1.074000,103003500

In [5]:
data.columns = data.columns.str.lower()
data.head()

,ticker,date,open,high,low,close,adj close,volume
0,TSLA,2010-06-29,1.266667,1.666667,1.169333,1.592667,1.592667,281494500
1,TSLA,2010-06-30,1.719333,2.028000,1.553333,1.588667,1.588667,257806500
2,TSLA,2010-07-01,1.666667,1.728000,1.351333,1.464000,1.464000,123282000
3,TSLA,2010-07-02,1.533333,1.540000,1.247333,1.280000,1.280000,77097000
4,TSLA,2010-07-06,1.333333,1.333333,1.055333,1.074000,1.074000,103003500

In [6]:
util.index_by_date(data)
data.head()

,ticker,open,high,low,close,adj close,volume
date,,,,,,,
2010-06-29,TSLA,1.266667,1.666667,1.169333,1.592667,1.592667,281494500
2010-06-30,TSLA,1.719333,2.028000,1.553333,1.588667,1.588667,257806500
2010-07-01,TSLA,1.666667,1.728000,1.351333,1.464000,1.464000,123282000
2010-07-02,TSLA,1.533333,1.540000,1.247333,1.280000,1.280000,77097000
2010-07-06,TSLA,1.333333,1.333333,1.055333,1.074000,1.074000,103003500

In [7]:
stock_indicators.calculate_technical_indicators(data)
data.tail(5)

,ticker,open,high,low,close,adj close,volume,SMA,EMA,RSI
date,,,,,,,,,,
2024-07-24,TSLA,225.419998,225.990005,214.710007,215.990005,215.990005,167942900,202.1838,212.323676,52.358073
2024-07-25,TSLA,216.800003,226.000000,216.229996,220.250000,220.250000,100636500,203.1510,212.634512,53.049427
2024-07-26,TSLA,221.190002,222.279999,215.330002,219.800003,219.800003,94604100,203.9960,212.915512,52.966578
2024-07-29,TSLA,224.899994,234.270004,224.699997,232.100006,232.100006,129201800,205.1582,213.667845,54.929787
2024-07-30,TSLA,232.250000,232.410004,220.000000,222.619995,222.619995,100560300,206.1138,214.018909,53.183894

In [8]:
#stock_indicators.calculate_financial_metrics(data)

In [9]:
#plots

In [10]:
headline_data = util.load_data('../../data/prepared_data.csv')

### Correlation Analysis

In [11]:
headline_data = util.filter_data_by_stock(headline_data, 'TSLA')
util.convert_date_dtype(headline_data)
headline_data.head(5)

,Unnamed: 0,headline,url,publisher,date,stock
6680,7120,Tech Stocks And FAANGS Strong Again To Start D...,https://www.benzinga.com/government/20/06/1622...,JJ Kinahan,2020-06-10 11:33:26-04:00,AAPL
6681,7121,10 Biggest Price Target Changes For Wednesday,https://www.benzinga.com/analyst-ratings/price...,Lisa Levin,2020-06-10 08:14:08-04:00,AAPL
6682,7122,"Benzinga Pro's Top 5 Stocks To Watch For Wed.,...",https://www.benzinga.com/short-sellers/20/06/1...,Benzinga Newsdesk,2020-06-10 07:53:47-04:00,AAPL
6683,7123,"Deutsche Bank Maintains Buy on Apple, Raises P...",https://www.benzinga.com/news/20/06/16219873/d...,Benzinga Newsdesk,2020-06-10 07:19:25-04:00,AAPL
6684,7124,Apple To Let Users Trade In Their Mac Computer...,https://www.benzinga.com/news/20/06/16218697/a...,Neer Varshney,2020-06-10 06:27:11-04:00,AAPL

In [12]:
headline_with_sentiment = text_analyzer.analyze_headline_sentiment(headline_data)
headline_with_sentiment['date'] = headline_with_sentiment ['date'].dt.date

headlines_with_sentiment= headline_with_sentiment[['date', 'headline', 'sentiment_score', 'sentiment']].copy()

In [13]:
combined_data = headlines_with_sentiment.set_index('date').join(data['close'])
combined_data.head()

,headline,sentiment_score,sentiment,close
date,,,,
2020-06-10,Tech Stocks And FAANGS Strong Again To Start D...,0.5574,positive,68.33667
2020-06-10,10 Biggest Price Target Changes For Wednesday,0.0000,neutral,68.33667
2020-06-10,"Benzinga Pro's Top 5 Stocks To Watch For Wed.,...",0.2023,positive,68.33667
2020-06-10,"Deutsche Bank Maintains Buy on Apple, Raises P...",0.0000,neutral,68.33667
2020-06-10,Apple To Let Users Trade In Their Mac Computer...,0.3818,positive,68.33667

In [14]:
#stock_indicators.calculate_daily_returns(combined_data)
combined_data['daily_returns'] = combined_data['close'].pct_change()
combined_data.tail(5)

/var/folders/cm/vngd5r7d2x16wjb2nxg9h5mc0000gn/T/ipykernel_67629/3937831859.py:2: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  combined_data['daily_returns'] = combined_data['close'].pct_change()

,headline,sentiment_score,sentiment,close,daily_returns
date,,,,,
2020-03-10,"UBS Maintains Buy on Apple, Lowers Price Targe...",-0.1280,negative,43.021999,0.000000
2020-03-10,123 Biggest Movers From Yesterday,0.0000,neutral,43.021999,0.000000
2020-03-09,Crude Awakening: Energy Sector Takes A 20% Spi...,-0.9062,negative,40.533333,-0.057846
2020-03-09,Investor Movement Index Summary: February 2020,0.0000,neutral,40.533333,0.000000
2020-03-09,101 Stocks Moving In Monday's Mid-Day Session,0.0000,neutral,40.533333,0.000000

In [16]:
#stock_indicators.calculate_daily_returns(combined_data)
combined_data['daily_returns'] = combined_data['close'].pct_change()
combined_data.tail(5)

/var/folders/cm/vngd5r7d2x16wjb2nxg9h5mc0000gn/T/ipykernel_67629/3937831859.py:2: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  combined_data['daily_returns'] = combined_data['close'].pct_change()

,headline,sentiment_score,sentiment,close,daily_returns
date,,,,,
2020-03-10,"UBS Maintains Buy on Apple, Lowers Price Targe...",-0.1280,negative,43.021999,0.000000
2020-03-10,123 Biggest Movers From Yesterday,0.0000,neutral,43.021999,0.000000
2020-03-09,Crude Awakening: Energy Sector Takes A 20% Spi...,-0.9062,negative,40.533333,-0.057846
2020-03-09,Investor Movement Index Summary: February 2020,0.0000,neutral,40.533333,0.000000
2020-03-09,101 Stocks Moving In Monday's Mid-Day Session,0.0000,neutral,40.533333,0.000000

In [17]:
corr_daily_returns = combined_data['sentiment_score'].corr(combined_data['daily_returns'])
print('Correlation between Sentiment Score and Daily Returns is', corr_daily_returns)

Correlation between Sentiment Score and Daily Returns is 0.01551718314184105

In [18]:
corr_daily_close = combined_data['sentiment_score'].corr(combined_data['close'])
print('Correlation between Sentiment Score and Closing is', corr_daily_close)

Correlation between Sentiment Score and Closing is 0.05552606984866309